@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-9 blockquote{
	text-align: center;
}

#chapter-13 blockquote,
#chapter-7 blockquote{
	text-align: center;
	text-transform: uppercase;
}

/* letter specific stuff */
[epub|type~="z3998:letter"]{
	margin-top: 1em;
	font-size: smaller;
}

[epub|type~="se:letter.dateline"]{
	text-align: center;
	font-size: medium;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
	text-align: initial;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	font-size: medium;
}
/* end letter classes */

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
